html body{
	color: #ffffff;
}
#first_slide{
	background-color: #eb7347;
}
#page4 .fp-tableCell{

}
#page3 .woman{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width:51%;
}
#page4 .woman{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width:51%;
	position: absolute;
	top: 0px;
	right: 50%;
	margin-right: -153px;
}
.section{
	text-align: center;
}
.slide_text{
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 20px;
}
/*Для основных блоков*/
.left{
	padding-left: 60px!important;
}
.right{
	padding-right: 60px !important;
}
/*Для основных блоков 	КОНЕЦ*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*#fullpage .section{*/
	/*background: url("/template/images/main-page-2.jpg") repeat fixed 100% 0% / cover;*/
  /*text-align: center;*/
/*}*/


.googleYandex{
	    margin-top: 20px;
    vertical-align: baseline;
}
.google{
	display:inline-block;
	vertical-align: bottom;
    margin-right: 20px;
}
.Yandex{
	display:inline-block;
}
.dostizhenia{
	margin-top: 20px;
}
.col-1{
	position:relative;
	padding-left: 40px;
	display:inline-block;
	margin-right: 20px;
}
.col-1:last-child{
	margin-right: 0px;
}
.col-1 .graphik{
	position:absolute;
	left: 0px;
	top: 5px;
}
.col-1 .superMan{
	position:absolute;
	left:-5px;
	top: 7px;
}
.col-1 .lamp{
	position:absolute;
	left: 10px;
}
.discription{
	text-transform:uppercase;
	color: #FFFFFF;
	font-size: 12px;
	text-align:left;
}
.strelka{
	position:absolute;
	bottom: 15px;
	left:50%;
    margin-left: -41px;
}
.strelka a:active{

}
.menu1 {
  background: #ED2A11;
  left: -25%;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 25%;
}

/* Basic styling */

/*Sidebar*/
.sidebar-wrapper ul.first{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top:16%;
	}
.sidebar-wrapper ul.first > li {
  font-family:  'Candara' ;
  line-height: 1.5;
  font-weight: 200;
  font-size: 28px;
}
.sidebar-wrapper li:hover{
	/*text-decoration: none;*/
	/*color: #fff;*/
	/*background: #961f1f;*/
	/*webkit-transition: all 0.5s ease;*/
	/*-moz-transition: all 0.5s ease;*/
	/*-o-transition: all 0.5s ease;*/
	/*transition: all 0.5s ease-out;*/
}

.menu1 a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
 
}
 ul#second{
	list-style: none;
	 margin: 0;
	padding: 1% 0% 0% 15%;
	 display: none;
	 list-style: none;
}
ul#second a {
	font-size: 22px;
}

.icon-close {
	display: inline-block;
  cursor: pointer;
  padding-right: 25px;
  padding-top: 25px;
  text-align: right;
}

.icon-menu {
  cursor: pointer;
  position: absolute;
  top: 7%;
  left: 5%;
	z-index: 10;
}
.icon-menu .bar{
	display: inline-block;
	position: absolute;
	top: 14%;
}
.icon-menu .menuGreengoLogo{
	display: inline-block;
	margin-left: 65px;
}
.sidebar-wrapper .menuGreengoLogo{
	margin-top:35%;
	margin-right:auto;
	margin-left: auto;
	}
	.well{
		background-color: inherit;
		border:none;
		padding: 0px;
		margin-bottom: 0px;
		-webkit-box-shadow: none;
		}
		
		/* Last doing*/
	.menuBottom .content{
	line-height: 1.6;
	color: #fff;
	margin-left: 30px;
	font-size: 14px;
	font-family: Verdana, sans-serif;
	}
	.menuBottom .address img, .telContacts img, .emailAddres img{
		display: inline-block;.
		margin-right: 5px;
	}
    .menuBottom .address, .telContacts, .emailAddres{
        position:relative;
        text-align: center;
    }
    .emailAddres p{
        color:#000000;
        font-size: 18px
    }
	.telContacts img{
		margin-top: -30px;
	}
	.menuBottom .facebookLogo{
		display: inline-block;
		margin-right: 10%;
	}
	.menuBottom .vkLogo{
		display: inline-block;
		margin-right: 8%;
	}
	.menuBottom .twLogo{
		display: inline-block;
	}
	.menuContent {
		box-sizing: border-box;
		min-height: 100%;
		padding-bottom: 90px;
	}
	.menuBottom{
  margin-top: 55px;
	}
	.social-links{
		margin-top: 10px;
        text-align:center;
	}
/*end of Sidebar*/


	/*fonts*/
@font-face {
	font-family: 'condensbold';
	src: url('/template/fonts/condens-bold.eot');
	src: url('/template/fonts/condens-bold.eot?#iefix') format('embedded-opentype'),
	url('/template/fonts/condens-bold.woff') format('woff'),
	url('/template/fonts/condens-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'condensbold_italic';
	src: url('/template/fonts/condens-bold-italic.eot');
	src: url('/template/fonts/condens-bold-italic.eot?#iefix') format('embedded-opentype'),
	url('/template/fonts/condens-bold-italic.woff') format('woff'),
	url('/template/fonts/condens-bold-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Condens-BoldItalic';
	src: url('/template/fonts/Condens-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('/template/fonts/Condens-BoldItalic.woff') format('woff'),
	url('/template/fonts/Condens-BoldItalic.ttf') format('truetype'),
	url('/template/fonts/Condens-BoldItalic.svg#Condens-BoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family:'Candara';
	src: url('/template/fonts/Candara.ttf') format('truetype'),
	url('/template/fonts/Candara.eot') format('embedded-opentype'),
	url('/template/fonts/Candara.svg') format('svg'),
	url('/template/fonts/Candara.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/*Scrollbar*/
::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:5px;
	height:0px;
}

::-webkit-scrollbar-track {
	background-color:#ecedee
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
	background-color:#56999f;
}

::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:4px;
	height:0px
}

::-webkit-scrollbar{
	width: 10px;
}
/*end of ScrollBar*/

/*Pagination*/
#pagination {
	margin: 0;
	padding: 8px 4px;
	position: fixed;
	height: auto;
	right: -100px;
	top: 50%;
	z-index: 999;
	width: 35px; }
#pagination li {
	list-style: none;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin-bottom: 20px;
	cursor: pointer; }
#pagination li > span {
	border-radius: 100%;
	width: 22px;
	height: 22px;
	line-height: 22px;
	/*border: 1px solid white;*/
	display: block;
	margin-left:auto;
	margin-right: auto;
	-webkit-transition: all 1.5s cubic-bezier(0.19,1,.22,1);
	transition: all 1.5s cubic-bezier(0.19,1,.22,1);
}
#pagination li > span > span {
	border-radius: 100%;
	width: 10px;
	height: 10px;
	line-height: 10px;
	display: block;
	margin-left:auto;
	margin-right:auto;
	background-color: white;}
#pagination li.active > span {
	border: 1px solid yellow;
	width:  30px;
	height: 30px;
	line-height:30px;
	border-radius: 100%;
	display:block;
	margin-left:auto;
	margin-right: auto;
	/*transform: translateX(-50%) scale(1);*/
}
#pagination li.active > span > span {
	background: #ffff00;
	width:  20px;
	height: 20px;
	margin: 4px;
	/*transform: translateX(-50%) translateY(-50%) scale(1);*/
}
#pagination li:last-child {
	margin-bottom: 0; }

.vline{
	background: #FFFFFF;
	width: 2px;
	position: absolute;
	height: 169px;
	opacity: 1;
	z-index: 10;
	right: 41px;
	top: 50%;
}
/*End of Pagination*/

/*CompanyPage*/
.pageText{
	font-family:'Candara';
    text-align: left;
    margin-left: 125px;
}
.pageText h1{
	font-size: 100px;
	font-weight: 700;
	text-transform: Uppercase;
	font-family: 'condensbold';
}
.pageText p{
	font-size: 16px;
}
.pageText h1{
	margin-bottom: 20px;
}
.pageText h2,h3,h4,h5,h6{
	margin-bottom: 0px;
	text-transform: Uppercase;
}
#companyPage1 .pageText{
    margin-top: 16%;
    margin-left: 125px;
}
.mailBox{
	margin-left: 130px;
	border: 2px solid white;
	display: inline-block;
	margin-top: 4%;
	padding: 10px 15px 3px;
    text-align: left;
}
.strelka h4{
	margin-bottom: 20px;
}
#companyPage1 .strelka h4{
    margin-left:-64px;
}
#companyPage2 .strelka h4{
    margin-left:-35px;
}#companyPage3 .strelka h4{
    margin-left:-40px;
}

#companyPage4 .woman{
    width:75%;
}
/*End of Company page*/


/*Project page*/

.project_img{
    position: relative;
    display:block;
    height:100%;
}
.projects{
    position: relative;
    overflow: hidden;
}
.project_img img{
    transition: all 0.3s;
    display: block;
    margin: 0 auto;
}
.hidden_project{
    display: none;
    /*position:absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: rgba(255,255,255,0.4);*/
    /*opacity: 0;*/
    /*filter: alpha(opacity=0);*/
}
/*.hidden_project:hover{*/
/*opacity: 1;*/
/*filter: alpha(opacity=100);*/
/*-webkit-transition: opacity .15s ease-in-out;*/
/*-moz-transition: opacity .15s ease-in-out;*/
/*-ms-transition: opacity .15s ease-in-out;*/
/*-o-transition: opacity .15s ease-in-out;*/
/*transition: opacity .15s ease-in-out;*/
/*}*/
.projects .container-fluid{
    padding-left:0;
    padding-right:0;
    height:100%;
}
.project_description{
    position: absolute;
    top: 85px;
    left: 35px;
}
.project_link {
    position: absolute;
    bottom: 5px;
    left:5px;
}
.project_link p{
    text-decoration: underline;
    text-transform: uppercase;
}
.project_description h3{
    color: #3d811b;
}
.project_description p{
    color: #FFFFFF;
}
.project_link{
    color: #FFFFFF;
}
.project_img:hover img{
    opacity: 0.8;
    -webkit-filter: invert(40%);
    -moz-filter: invert(40%);
    -ms-filter: invert(40%);
    -o-filter: invert(40%);
    filter: invert(40%);
    filter: gray; /* IE 6-9 */
}

/*Projects end*/
/*Contacts Page Start*/
.contacts{
    background: url('/template/images/Contacts.jpg') repeat fixed 50% 50%
}
.contacts_page{
    color: #000000;
    font-family: Verdana;
}
.contacts_page{
    color: #000000;
}
.contacts_page h1 {
    color: #ff2d2d;
    font-family:condensbold;
    text-align: center;
    font-size: 110px;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 1;
    margin-top: 50px;
}
.contacts_page .social-links> div{
    margin-top: 0%;
    display: inline-block;
    margin-right: 40px;
}
.contacts_page .social-links> div:last-child {
    margin-right: 0px;
}
.right_slide {
    transform: rotate(270deg);
    position: absolute;
    right: -48px;
    top: 50%;
    font-family: condensbold;
    font-size: 56px;
    color: #ff2d2d;
    text-transform: uppercase;
    cursor: default;
    margin-top:-10px;
}
.right_slide p{
    font-family:condensbold ;
}
.comment{
    cursor: pointer;
    position:absolute;
    right: 40px;
    top: 50%;
    margin-top: -120px;
}
.look_at_the_map{
    position: absolute;
    bottom: 10px;
    right: 50%;
    margin-right: -130px;
    margin-bottom: 0px;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function:linear;
    -moz-transition-timing-function:linear;
    transition-timing-function: linear;
    transition-duration: 350ms;
}
.look_at_the_map p{
    display:block;
    text-align: center;
    font: 800 19px Verdana;
    color: #ff2d2d;
    text-transform: uppercase;
}
.wrapper.toggled .look_at_the_map{
    position: absolute;
    margin-right: -300px;
}
.contacts_page .phoneLogo{
    margin-bottom: 30px;
}
.phorma_zayavki{
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 400px;
    width: 0;
    height: 100%;
    margin-right: -400px;
    overflow-y: auto;
    background: #ff2d2d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.phorma_zayavki .comment{
    margin: 68px 0 12px 0;
    position: relative;
    top:0;
    right: 0;
}

.phorma_zayavki p {
    display:block;
    text-align: center;
    color: #ffffff;
    font-family:condensbold;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1;
}
.phorma_zayavki input.form-control{
    margin: 0 0 10px 0;
    border: solid #961f1f 4px;
    height:40px;
    background: #ff2d2d;
    color: #ffffff;
    padding:5px 10px 5px;
}
.phorma_zayavki textarea{
    background: #ff2d2d;
    border: solid #961f1f 4px;
    color: #ffffff;
    padding:5px 10px 5px;
}
.
.phorma_zayavki .podtv{

}
.wrapper.toggled2 .phorma_zayavki {
    width:400px;
}
ul#second{
    display:none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.emailAddres > div, p{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}
.telContacts > div, p{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}
.emailAddres > div, p{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}
.address p{
    font-size:18px;
}
.telContacts p{
    font-size: 23px;
    color: #000000;
    font-weight: 800;
}
.input-group{
    padding: 0px 35px 25px 25px;
}
.otpravka{
    background: #961f1f;
    text-transform: uppercase;
    font: 35px condensbold;
    color: #ffffff;
}