#first_slide{
	background-color: #eb7347;
}
#page4 .fp-tableCell{

}
#page3 .woman{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width:51%;
}
#page4 .woman{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width:51%;
	position: absolute;
	top: 0px;
	right: 50%;
	margin-right: -153px;
}
.section{
	text-align: center;
}
.slide_text{
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 20px;
}
/*Для основных блоков*/
.left{
	padding-left: 60px!important;
}
.right{
	padding-right: 60px !important;
}
/*Для основных блоков 	КОНЕЦ*/

html.fsvs #fsvs-pagination{
	margin: 0;
	padding: 8px 4px;
	position: fixed;
	height: auto;
	top: 50%;
	z-index: 999;
	width: 32px;
}
html.fsvs #fsvs-pagination li{
	list-style: none;
	width: 25px;
	height: 25px;
	line-height:25px;
	text-align: center;
	margin: 0 0 2px 0;
	cursor: pointer;
}
li{
	display: list-item;
}
html.fsvs #fsvs-pagination li.active>span{
	border: 1px dashed white;
}
html.fsvs #fsvs-pagination li>span{
	    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
	border-radius: 100%;
	width: 22px;
	height: 22px;
	line-height: 22px;
	display:block
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*#fullpage .section{*/
	/*background: url("/template/images/main-page-2.jpg") repeat fixed 100% 0% / cover;*/
  /*text-align: center;*/
/*}*/


.googleYandex{
	    margin-top: 20px;
    vertical-align: baseline;
}
.google{
	display:inline-block;
	vertical-align: bottom;
    margin-right: 20px;
}
.Yandex{
	display:inline-block;
}
.dostizhenia{
	margin-top: 20px;
}
.col-1{
	position:relative;
	padding-left: 40px;
	display:inline-block;
	margin-right: 20px;
}
.col-1:last-child{
	margin-right: 0px;
}
.col-1 .graphik{
	position:absolute;
	left: 0px;
	top: 5px;
}
.col-1 .superMan{
	position:absolute;
	left:-5px;
	top: 7px;
}
.col-1 .lamp{
	position:absolute;
	left: 10px;
}
.discription{
	text-transform:uppercase;
	color: #FFFFFF;
	font-size: 12px;
	text-align:left;
}
.strelka{
	position:absolute;
	bottom: 15px;
	left:50%;
}
.strelka a:active{

}
.menu1 {
  background: #ED2A11;
  left: -25%;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 25%;
}

/* Basic styling */


.sidebar-wrapper ul.first{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top:16%;
	}
.sidebar-wrapper ul.first > li {
  font-family:  'Candara' ;
  line-height: 1.5;
  font-weight: 200;
  font-size: 28px;
}
.sidebar-wrapper li:hover{
	/*text-decoration: none;*/
	/*color: #fff;*/
	/*background: #961f1f;*/
	/*webkit-transition: all 0.5s ease;*/
	/*-moz-transition: all 0.5s ease;*/
	/*-o-transition: all 0.5s ease;*/
	/*transition: all 0.5s ease-out;*/
}

.menu1 a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
 
}
 ul#second{
	list-style: none;
	 margin: 0;
	padding: 1% 0% 0% 15%;
	 display: none;
	 list-style: none;
}
ul#second a {
	font-size: 22px;
}

.icon-close {
	display: inline-block;
  cursor: pointer;
  padding-right: 25px;
  padding-top: 25px;
  text-align: right;
}

.icon-menu {
  cursor: pointer;
  position: absolute;
  top: 7%;
  left: 5%;
	z-index: 10;
}
.icon-menu .bar{
	display: inline-block;
	position: absolute;
	top: 14%;
}
.icon-menu .menuGreengoLogo{
	display: inline-block;
	margin-left: 65px;
}
.sidebar-wrapper .menuGreengoLogo{
	margin-top:35%;
	margin-right:auto;
	margin-left: auto;
	}
	.well{
		background-color: inherit;
		border:none;
		padding: 0px;
		margin-bottom: 0px;
		-webkit-box-shadow: none;
		}
		
		/* Last doing*/
	.menuBottom .content{
	line-height: 1.6;
	color: #fff;
	margin-left: 30px;
	font-size: 14px;
	font-family: Verdana, sans-serif;
	}
	.menuBottom .phoneLogo{
		position: absolute;
		top:30%;
		left: 28%;
	}
	.menuBottom .emailLogo{
		position: absolute;
		left: 28%;
	}
	.menuBottom .facebookLogo{
		display: inline-block;
		margin-right: 10%;
	}
	.menuBottom .vkLogo{
		display: inline-block;
		margin-right: 8%;
	}
	.menuBottom .twLogo{
		display: inline-block;
	}
	.menuContent {
		box-sizing: border-box;
		min-height: 100%;
		padding-bottom: 90px;
	}
	.menuBottom{
  margin-top: 55px;
	}
	.social-links{
		margin-top: 8%;

	}
	/*fonts*/
@font-face {
	font-family: 'condensbold';
	src: url('/template/fonts/condens-bold.eot');
	src: url('/template/fonts/condens-bold.eot?#iefix') format('embedded-opentype'),
	url('/template/fonts/condens-bold.woff') format('woff'),
	url('/template/fonts/condens-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'condensbold_italic';
	src: url('/template/fonts/condens-bold-italic.eot');
	src: url('/template/fonts/condens-bold-italic.eot?#iefix') format('embedded-opentype'),
	url('/template/fonts/condens-bold-italic.woff') format('woff'),
	url('/template/fonts/condens-bold-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Condens-BoldItalic';
	src: url('/template/fonts/Condens-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('/template/fonts/Condens-BoldItalic.woff') format('woff'),
	url('/template/fonts/Condens-BoldItalic.ttf') format('truetype'),
	url('/template/fonts/Condens-BoldItalic.svg#Condens-BoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family:'Candara';
	src: url('/template/fonts/Candara.ttf') format('truetype'),
	url('/template/fonts/Candara.eot') format('embedded-opentype'),
	url('/template/fonts/Candara.svg') format('svg'),
	url('/template/fonts/Candara.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/*Scrollbar*/
::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:5px;
	height:0px;
}

::-webkit-scrollbar-track {
	background-color:#ecedee
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
	background-color:#56999f;
}

::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:4px;
	height:0px
}

::-webkit-scrollbar{
	width: 10px;
}
/*end of ScrollBar*/

/*Pagination*/
#pagination {
	margin: 0;
	padding: 8px 4px;
	position: fixed;
	height: auto;
	right: -100px;
	top: 50%;
	z-index: 999;
	width: 35px; }
#pagination li {
	list-style: none;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin-bottom: 20px;
	cursor: pointer; }
#pagination li > span {
	border-radius: 100%;
	width: 22px;
	height: 22px;
	line-height: 22px;
	/*border: 1px solid white;*/
	display: block;
	margin-left:auto;
	margin-right: auto;
	-webkit-transition: all 1.5s cubic-bezier(0.19,1,.22,1);
	transition: all 1.5s cubic-bezier(0.19,1,.22,1);
}
#pagination li > span > span {
	border-radius: 100%;
	width: 10px;
	height: 10px;
	line-height: 10px;
	display: block;
	margin-left:auto;
	margin-right:auto;
	background-color: white;}
#pagination li.active > span {
	border: 1px solid yellow;
	width:  30px;
	height: 30px;
	line-height:30px;
	border-radius: 100%;
	display:block;
	margin-left:auto;
	margin-right: auto;
	/*transform: translateX(-50%) scale(1);*/
}
#pagination li.active > span > span {
	background: #ffff00;
	width:  20px;
	height: 20px;
	margin: 4px;
	/*transform: translateX(-50%) translateY(-50%) scale(1);*/
}
#pagination li:last-child {
	margin-bottom: 0; }

.vline{
	background: #FFFFFF;
	width: 2px;
	position: absolute;
	height: 169px;
	opacity: 1;
	z-index: 10;
	right: 41px;
	top: 50%;
}